<!DOCTYPE html>
<html>

<head>

	<!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Materia: Sistemas de Información. Proyecto: Control de evaluaciones al docente. 
    Versión: 1.00. Integrantes: José Raffalli, Rocco Tarantino, Rafael Concha y Victoria Masiero.">

    <!-- Responsive -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

     <!-- Titulo -->
    <title>Registrar Evaluacion Unimet | Universidad Metropolitana</title>

    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="icon" href="../public/images/favicon.png" type="images/x-icon">

    <!-- Signup.css Custom -->
    <link rel="stylesheet" href="../public/styles/signup.css" >

    <!-- Signup.css Custom -->
    <link rel="stylesheet" href="../public/styles/registrar.css" >

    <!-- Material Design -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css">
    
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Angular -->
    <script src="../public/js/dependencies/angular.js"></script>


</head>

<!-- Body -->
<body ng-app="ModuloDeRegistro" ng-controller="ControladorDeRegistro">

    <!-- Barra de navegación -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Evaluaciones Unimet</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="http://www.unimet.edu.ve/">Universidad Metropolitana</a>
            <a class="mdl-navigation__link" href="http://espaciovirtual.unimet.edu.ve/login/index.php">Espacio Virtual</a>
            <a class="mdl-navigation__link" href="http://sirius.unimet.edu.ve/irj/portal">Sirius</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Evaluaciones Unimet</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
        <!-- Content -->

        <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <div class="demo-ribbon mdl-color--green"></div>

        <main class="demo-main mdl-layout__content">
        <h2 align="center" class="t-center mdl-color-text--white text-shadow">Evaluaciones Unimet</h2>
        <a id="top"></a>
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">

            <div class="mdl-card__title ">
              <h2 class="mdl-card__title-text">
                <i class="material-icons mdl-color-text--grey m-r-5 lh-13">account_circle</i>&nbsp;
                Registrar
              </h2>
            </div>
            <div class="p-l-20 p-r-20 p-b-20">
              <form ng-submit="submitRegistrar()">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input ng-model="signupForm.carnet" class="mdl-textfield__input" type="text" id="Carnet" />
                  <label class="mdl-textfield__label" for="Carnet">Carnet</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input ng-model="signupForm.name" class="mdl-textfield__input" type="text" id="Primer Nombre" />
                  <label class="mdl-textfield__label" for="Primer Nombre">Primer Nombre</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input ng-model="signupForm.title" class="mdl-textfield__input" type="text" id="Apellido" />
                  <label class="mdl-textfield__label" for="Apellido">Apellido</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input ng-model="signupForm.password" class="mdl-textfield__input" type="password" id="Contraseña" />
                  <label class="mdl-textfield__label" for="Contraseña">Contraseña</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                  <input ng-model="signupForm.email" class="mdl-textfield__input" type="text" id="Correo" />
                  <label class="mdl-textfield__label" for="Correo">Correo</label>
                </div>
                <select ng-model="rol" style="padding-top: 10px; padding-bottom: 20px;" class="browser-default">
                  <option value="" disabled selected>Selecciona tu rol</option>
                  <option value="1">Estudiante</option>
                  <option value="2">Profesor</option>
                  <option value="3">Administrador</option>
                </select>
                <!-- btnRegistrar -->
                <div class="m-t-20">
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--light-green">
                    Registrar
                  </button>
                  <button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Cancelar
                  </button>
                </div>

              </form>
            </div>


            </div>
            </div>
          </main>
        </div>
            
        </div>
      </main>
    </div>



    <!-- Angular App-->
    <script>
      angular.module('ModuloDeRegistro', []);
      angular.module('ModuloDeRegistro').controller('ControladorDeRegistro', ['$scope','$http', function($scope, $http){

  $scope.submitRegistrar= function () { // Esta funcion es la que es llamada una vez se llene el formulario registrar

    
    $http.post('/registrar-nuevo', {
      nombre: $scope.signupForm.name,
      apellido: $scope.signupForm.title,
      email: $scope.signupForm.email,
      carnet: $scope.signupForm.carnet,
      contraseña: $scope.signupForm.password,
      rol : $scope.rol
    })
    .then( function exito (){

    console.log("exito al enviar");
    //window.location = '/registro-exitoso.html';    

    })
    .catch(function 
      (sailsResponse){
      alert(sailsResponse);
    })



  }
}]);
    </script>

    <!-- Jquery -->
    <script src="../public/js/dependencies/jquery.min.js"></script>

    <!-- Material Design Lite -->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>

</html>